---
title: Blog
subtitle: What was I thinking ?
author: Max Rydahl Andersen
layout: base
banner: /img/post-bg.jpg
tab: blog
---
- for post in page.posts
  .post-preview
    %h1.post-title
      %a{:href=>relative(post.url)}= post.title
    %h3.post-subtitle
      =post.subtitle
    %p.post-meta
      #{post.date.strftime( '%A, %B %e, %Y' )}
      - post.tags.each do |tag|
        %a.label{:href=>tag.primary_page.url}
          = tag
          &nbsp;
  %p
    ~ post.content
   
    %p.comments
      %i.icon-comments
        =post.disqus_comments_link 
        #{post.disqus_comments_count} 

  %hr
= page.posts.links
